.zoom_img:hover {
  transform: scale(6);
  transition: transform 0.3s ease-in-out;
  box-shadow: -4px 10px 32px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 10px 32px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 10px 32px -6px rgba(0, 0, 0, 0.75);
}
